$background-primary-color: #1f1f1f;
$background-pitch-black: #000000;

$primary-hover-color: #ff2f2f;
$primary-text-color: #ffffff;

$primary-border-color: #575757;

$color-png-red: invert(25%) sepia(100%) saturate(1000%) hue-rotate(-50deg)
  brightness(1) contrast(1); /* Change to red */
