@import "../../app/colors.scss";

$margin-bottom: 30px;

.card {
  border: 0.5px solid $primary-border-color;
  padding: 2rem;
  min-width: 250px;
  border-radius: 30px;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
  }

  .card-image {
    display: grid;
    place-items: center;

    .card-profile-image {
      border-radius: 30px;
    }

    .card-image-title {
      margin: $margin-bottom;
    }
  }

  .card-content {
    text-align: center;
  }
}
