@import "../../app/colors.scss";

/* Global Navigation Styles */
nav,
.navigation-button-controller {
  position: absolute;
  top: 17px;
  right: 20px;
}

/* Navigation Menu Toggle */
.navigation-menu-toggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

/* Button Controller */
.navigation-button-controller {
  position: fixed;
  z-index: 5;
  color: $primary-text-color;
}

/* Menu Bar Controller */
.navigation-menu-bar-controller {
  $border-white: $primary-text-color;
  border: 0.5px solid $border-white;
  border-radius: 50%;
  padding: 1.6rem 1rem;
  text-align: center;
  color: $primary-text-color;
  transition:
    border-color 0.3s ease,
    color 0.3s ease;

  &:hover {
    color: $primary-hover-color; // Changed to primary color for visibility
    border-color: $primary-hover-color; // Changed to primary color for visibility
  }
}

/* Menu Bar */
.navigation-menu-bar {
  width: 26px;
  background: $background-pitch-black;
  border: 1px solid;
  transition: transform 250ms ease-out;

  &[data-position="top"] {
    transform: translateY(-3px);
  }

  &[data-position="bottom"] {
    transform: translateY(3px);
  }
}

/* Active State for Menu Bars */
.navigation-menu-toggle.active {
  .navigation-menu-bar[data-position="top"] {
    transform: translateY(0) rotate(45deg) scaleX(1);
  }

  .navigation-menu-bar[data-position="bottom"] {
    transform: translateY(0) rotate(-45deg) scaleX(1);
  }
}

/* Overlay Styles */
.navigation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: $background-pitch-black;
  z-index: 1;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  transition: height 0.5s;
}

.navigation-overlay-content {
  width: 100%;
  text-align: center;
}

/* Overlay Links */
.navigation-overlay a {
  display: block;
  padding: 8px;
  font-size: 40px;
  color: $primary-text-color;
  text-decoration: none;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $primary-hover-color; // Changed to primary color for visibility
  }
}
