@import "../../app/colors.scss";

nav,
.navigation-button-controller {
  width: 100%;
}

nav {
  height: 100%;
  container-type: inline-size; /* Enables container queries for this element */
}

.navigation-menu-toggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.navigation-button-controller {
  position: fixed;
  z-index: 5;
  color: $primary-text-color;
}

.navigation-button {
  position: absolute;
  right: 50px;
  top: 50px;
}

.navigation-menu-bar-controller {
  $border-white: $primary-text-color;
  border: 0.5px solid $border-white;
  border-radius: 50%;
  padding: 1.6rem 1rem;
  text-align: center;
  color: $primary-text-color;
  transition:
    border-color 0.3s ease,
    color 0.3s ease; /* Optional: smooth transition */

  &:hover {
    color: $primary-hover-color;
    border-color: $primary-hover-color; /* Change border color to red on hover */
  }
}

.navigation-menu-bar {
  width: 26px;
  background: black;
  border: 1px solid;
  transition: transform 250ms ease-out;
}

.navigation-menu-bar[data-position="top"] {
  transform: translateY(-3px);
}

.navigation-menu-bar[data-position="bottom"] {
  transform: translateY(3px);
}

.navigation-menu-toggle.active .navigation-menu-bar[data-position="top"] {
  transform: translateY(0) rotate(45deg) scaleX(1);
}

.navigation-menu-toggle.active .navigation-menu-bar[data-position="bottom"] {
  transform: translateY(0) rotate(-45deg) scaleX(1);
}

/* Overlay Styles */
.navigation-overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: $background-pitch-black;
  overflow-y: hidden;
  transition: height 0.5s;
  display: flex;
  align-items: center;
}

.navigation-overlay-content {
  width: 100%;
  text-align: center;
}

.navigation-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: $primary-text-color;
  display: block;
  transition: color 0.3s;
}

.navigation-overlay a:hover,
.navigation-overlay a:focus {
  color: $primary-hover-color;
}
