@import "/app/colors.scss";
@import "/app/fontSize.scss";

.resume-info {
  padding: 1rem;

  .resume-info-title {
    font-size: $title-font-size;
    margin: 1rem 0;

    strong {
      color: $primary-hover-color;
    }
  }

  .resume-info-timelines {
    .timeline-controller {
      &:last-child {
        .container::before {
          height: 53%;
        }
      }
    }
  }
}
